*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    margin-left: 2.5rem;
}
.container{
    padding: 2rem;
    margin-top: 10%;
    margin-bottom: 10%;
    background: transparent;
    backdrop-filter: blur(6px);
    width: 45vh;
    height: 55vh;
    border-radius: 1.5rem;
    border: 3px solid black;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
}
.p1{
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.mainDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

input, select, button{
    width: 100%;
    height: 1.6rem;
    border: none;
    outline: none;
    background: none;
}

.dropDown{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
}
img{
    width: 2.3rem;
}

i{
    margin-top:1rem;
}

.p2, .p3{
    padding-left: 0.3rem;
    font-weight: 700;
}

.foot{
    width: 100%;
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

input, button{
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 1rem;
    max-height: 2.5rem;
    font-weight: 750;
    font-size: 1.2rem;
}
input{
    padding-left: 1rem;
    width: 95%;
}

body{
    background-image: url(/Css/cc\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.p4{
    font-weight: 700;
    font-size: 1.6rem;
}

input, .btn{
    height: 2rem;
}

select{
    font-size: 1rem;
    font-weight: 500;
    max-height: 6vh;

}
option{
    max-width: 5vh;
    background-color: #96C9F4;
    opacity: 0.3;
    color: white;
}

.btn{
    border-bottom: 2px solid white; 
}

.btn:hover{
    background-color: #96C9F4;
    opacity: 0.3;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5) ;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    /* Styles for mobile devices  */
    body{
      background-image: none;
      background-color: #EECEB9;
    }
    .container {
      width: 70vw;
      height: 70vh;
      background-color: #FEFBD8;
    }
    .mainDiv {
        flex-direction: column;
      }
      input, select, button {
        font-size: 1rem;
      }
      .btn{
        border-bottom: 2px solid black;
      }
    }




